/*****************************************************************************/
/*
/* Railscasts attempt
/*
/*****************************************************************************/

body {
background-color: #2D2D2D;
color: white;
}

.module span:first-child { color: #B76B39; }
.module span:last-child { color: #B76B39; font-weight: bold; }
.module:first-line { font-weight: bold; }
.module .inner { padding-left: 1em; }

.klass span:first-child { color: #B76B39; }
.klass span:last-child { color: #B76B39; font-weight: bold; }
.klass:first-line { font-weight: bold; }
.klass {padding-left: 1em; }
.klass .inner { padding-left: 1em; }
.code { font: monospace; }

.comment { color: #B76B39; font-weight: bolder; }
.comment:before {
content: "# ";
}
ol.array { display:inline; }
ol.array:before { content: "["; }
ol.array:after  { content: "]"; }

ol.array li { color: #7FB85B; display: inline; }
ol.array li:before { content: "\""; }
ol.array li:after  { content: "\", "; }



a {
  text-decoration: none;
  color: #7DB85B;
}

a:visited {
  color: #7FB85B;
}

a:hover {
color: orange;
}
code { }

