/*****************************************************************************/
/*
/* Railscasts attempt
/*
/*****************************************************************************/

body {
background-color: #2D2D2D;
color: white;
}

.module span:first-child { color: #B76B39; }
.module span:last-child { color: #B76B39; font-weight: bold; }
.module:first-line { font-weight: bold; }
.module .inner { padding-left: 1em; }

.klass span:first-child { color: #B76B39; }
.klass span:last-child { color: #B76B39; font-weight: bold; }
.klass:first-line { font-weight: bold; }
.klass {padding-left: 1em; }
.klass .inner { padding-left: 1em; }

.code { font: monospace; }

.inner { padding-left: 1em; }

.comment { color: #B76B39; font-weight: bolder; }
.comment:before {
content: "# ";
}
.array { }
.array li { color: #ffffff; display: block; }
.array li:first-child a:before { content: "[\""; display:inline; }
.array li:last-child a:after  { content: "\"]"; }
.array li a:before { content: "\""; }
.array li a:after  { content: "\", "; }

.constant { color: #ffffff; }
.constant:visited { color: #ffffff; }
.constant:hover { color: orange; }

a {
  text-decoration: none;
  color: #7DB85B;
}

a:visited {
  color: #7FB85B;
}

a:hover {
color: orange;
}
code { }

