<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Johnneylee Jack Rollins" />
  <link rel="alternate" title="RSS" type="application/rss+xml" href="http://feeds.feedburner.com/Spaceghost-github" />
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/railscasts.css" type="text/css" title="railscasts" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/cucumber.css" type="text/css" media="screen, projection" />
  <script>
    document.createElement("tab"); // Fix for IE not being able to recognise my custom <tab> tag.
  </script>
</head>
<body>

<div class="site">
  <div class="title">
    <div class="whackbang">/usr/bin/env ruby</div>
    <code class="constant">$VERBOSE = true</code><br /><br />
    <div class="klass">
      <code class="constant">Person</code>
      <div class="inner">
        <code> include <span class="constant">World::People::Engineer(<span class="string">Spaceghost</span>)</code><br />
        <code>attr_reader :name</code>
        <code class="comment">=></code> <a href="/" class="inner string">Johnneylee Jack Rollins</a><br />
        <code>attr_reader :pseudonym</code>
        <code class="comment">=></code> <a href="/" class="inner string">Spaceghost</a>
      </div>
    </div><br />
    <div class="__end__"></div>
  </div>

  <div class="content">{{ content }}</div>
  {% if page.comments %}
  <div id="comments">
    Better comments coming eventually.
  </div>
  {% endif %}
</div>

<a href="http://github.com/Spaceghost"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23522770-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>

