---
layout: default
---
<div class="klass"><code class="constant">Post</code> &lt; <code><a href="/#{{page.category}}">{{page.category}}::Blog</a></code><br>
  <div class="inner">
    <code>attr_accessor :title, :subtitle, :meta, :content, :comments</code><br>
    <code>title&nbsp;&nbsp;&nbsp; = <span class="string">{{ page.title }}</span></code><br>
    <code>subtitle = <span class="string">{{ page.subtitle }}</span></code></br>
    <code>meta &nbsp;&nbsp;&nbsp;&nbsp;= <span class="string">{{ page.meta }}</span></code><br>
    <code class="constant">content</code>
    <div class="heredoc">
      <div class="inner">{{ content }}</div>
    </div>
  </div>
</div>
Number of words in this post: {{ page.content | number_of_words }}
<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }} &raquo; <a href="/#{{post.category}}">{{post.category}}</a>::<a href="{{ post.url }}">{{ post.title }}</a></li></span>
    {% endfor %}
  </ul>
</div>

